#app-campaign {
  height: 200x;
}
#app-campaign .campaign-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: none;
}
#app-campaign .ant-card-cover img {
  height: 200px;
  object-fit: cover;
}
#app-campaign .ant-card-meta-title {
  text-align: center;
}
#app-campaign .campaign-content .title-container {
  height: 60px;
  display: table;
  padding-top: 10px;
  width: 100%;
}
#app-campaign .campaign-content .title-container .title {
  text-align: center;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
}
#app-campaign .campaign-content .title-container .title a {
  color: #4682B4;
  text-decoration: none;
}
#app-campaign .campaign-content .title-container .title a:hover {
  color: #699bc4;
}
#app-campaign .campaign-content .author {
  text-align: center;
  font-size: 12px;
}
#app-campaign .campaign-details {
  padding: 0 25px 20px 25px;
  font-size: 14px;
}
#app-campaign .campaign-details .category,
#app-campaign .campaign-details .time,
#app-campaign .campaign-details .backers {
  margin-right: 10px;
}
#app-campaign .campaign-details .category {
  position: relative;
  margin-right: 40px;
}
#app-campaign .campaign-details .category img {
  height: 25px;
  width: auto;
  position: absolute;
  bottom: -5px;
}
#app-campaign .campaign-details .progress {
  float: right;
  color: #03C9A9;
}
#app-campaign .campaign-details .value {
  font-weight: bold;
}
