#app-live-event-donate {
  background: url('../../assets/images/event-bg-mobile.png');
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 35px;
  display: table;
}
#app-live-event-donate > div {
  display: table-cell;
  vertical-align: middle;
}
#app-live-event-donate h2 {
  margin: 30px 0;
  color: #fff;
  font-size: 17px;
}
#app-live-event-donate .checkbox-container {
  margin: 30px 0;
}
#app-live-event-donate .checkbox-container span {
  color: #fff;
}
#app-live-event-donate .donate-btn {
  background: #cc3333;
  text-transform: initial;
  border-radius: 15px;
  margin: 35px 0;
  font-weight: normal;
  font-size: 20px;
  padding: 12px 40px;
  height: 100%;
  border: none;
}
#app-live-event-donate .donate-btn:hover,
#app-live-event-donate .donate-btn:active {
  background: #d14747;
  cursor: pointer;
}
#app-live-event-donate .donate-btn[disabled] {
  color: white;
  background: #db7070;
  cursor: not-allowed;
}
#app-live-event-donate h2 {
  text-align: left;
}
#app-live-event-donate h3 {
  color: #fff;
  text-transform: uppercase;
}
#app-live-event-donate .amount-field {
  background: rgba(0, 56, 179, 0.7);
  border: none;
  border-radius: 15px;
  height: 50px;
  min-width: 200px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
#app-live-event-donate .amount-field input {
  text-align: center;
}
#app-live-event-donate .welcome-message {
  font-size: 20px;
  margin-bottom: 30px;
}
#app-live-event-donate .welcome-message .user-name,
#app-live-event-donate .welcome-message .donated-amount {
  font-weight: bold;
}
