#app-header {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#app-header.has-bg {
  background: #F5F6FA;
  box-shadow: none;
}
#app-header .ghf-logo {
  min-height: 50px;
  float: left;
}
#app-header .ghf-logo img {
  width: 50px;
  float: left;
}
#app-header .ghf-logo div {
  color: #485460;
  font-size: 30px;
  margin-left: 10px;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  float: left;
  margin: 5px 0 0 10px;
}
#app-header .create-btn-link {
  float: right;
  list-style: none;
  text-decoration: none;
  margin-left: 20px;
}
#app-header .create-btn {
  height: 35px;
  background: #6a89cc;
  margin-top: 10px;
  font-size: 15px;
  box-shadow: none;
}
#app-header .create-btn:hover {
  background: #446bbf;
}
#app-header .header-action-container {
  float: right;
  padding: 15px 20px;
}
#app-header .header-action-container a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
#app-header .header-action-container a:hover {
  color: #485460;
}
@media screen and (max-width: 959px) {
  #app-header {
    padding: 0 0 15px 0;
    text-align: center;
  }
  #app-header .ghf-logo {
    float: initial;
    margin: 10px auto;
    display: block;
    width: 250px;
  }
  #app-header .create-btn-link {
    float: initial;
  }
  #app-header .header-action-container {
    padding: 15px 5px;
  }
}
@media screen and (max-width: 959px) {
  #app-header .header-action-container {
    width: 50%;
  }
}
