#app-campaign-list {
  padding-top: 100px;
}
.wat {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  margin: auto;
  height: auto;
  z-index: 0;
}
@media screen and (max-width: 959px) {
  .ant-col {
    margin-bottom: 30px;
  }
}
