#app-campaign-details {
  margin-top: 50px;
  padding: 50px 100px;
}
#app-campaign-details .campaign-details-gallery {
  height: 350px;
}
#app-campaign-details .campaign-details-gallery img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}
#app-campaign-details .clearfix {
  clear: both;
}
#app-campaign-details .section-title {
  color: #485460;
  font-size: 18px;
  text-align: center;
}
#app-campaign-details .campaign-details-title {
  padding: 10px 20px;
  text-align: center;
  color: #6a89cc;
  font-weight: 500;
}
#app-campaign-details .campaign-details-title span {
  font-size: 22px;
}
#app-campaign-details .campaign-details-donate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}
#app-campaign-details .campaign-details-donate h2 {
  margin: 30px 0;
  color: #03C9A9;
  font-weight: 500;
}
#app-campaign-details .campaign-details-donate .donate-currency {
  font-size: 25px;
  margin-left: 10px;
}
#app-campaign-details .campaign-details-donate .donate-button {
  margin-top: 50px;
}
#app-campaign-details .campaign-details-donate #amount-field {
  width: 100px;
  padding: 5px 10px;
  font-size: 25px;
  text-align: center;
}
#app-campaign-details .campaign-details-donate #amount-field::placeholder {
  text-align: center;
  font-size: 25px;
}
#app-campaign-details .campaign-details-donate .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#app-campaign-details .campaign-details-status {
  height: 350px;
  padding: 25px;
  position: relative;
  color: #747D8C;
}
#app-campaign-details .campaign-details-status .status-location {
  float: left;
  font-size: 20px;
  margin-top: 15px;
}
#app-campaign-details .campaign-details-status .status-amount-raised {
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #03C9A9;
  font-weight: 600;
}
#app-campaign-details .campaign-details-status .status-days-left {
  float: left;
}
#app-campaign-details .campaign-details-status .status-amount-needed {
  float: right;
}
#app-campaign-details .campaign-details-status .status-category {
  float: left;
  margin-top: 5px;
}
#app-campaign-details .campaign-details-status .status-category img {
  height: 25px;
  margin-top: -5px;
  margin-right: 10px;
}
#app-campaign-details .campaign-details-status .status-donors {
  float: right;
}
#app-campaign-details .campaign-details-status .status-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
#app-campaign-details .campaign-details-status .status-share {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
#app-campaign-details .campaign-details-status .status-share > div {
  float: left;
  margin-right: 3px;
}
#app-campaign-details .campaign-details-status .status-share span {
  font-size: 35px;
  margin-right: 5px;
  cursor: pointer;
  color: #BFBFBF;
}
#app-campaign-details .campaign-details-status .status-share span:hover {
  color: #485460;
}
#app-campaign-details .campaign-details-status .thanks-message {
  text-align: right;
  color: #03C9A9;
  font-size: 15px;
}
#app-campaign-details .empty-transactions {
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
}
#app-campaign-details .campaign-details-info {
  padding: 30px 50px;
  min-height: 260px;
}
#app-campaign-details .campaign-details-info .title {
  font-size: 25px;
  font-weight: bold;
}
#app-campaign-details .campaign-details-info .description {
  font-size: 17px;
}
#app-campaign-details .campaign-details-info p {
  margin-top: 30px;
}
#app-campaign-details .campaign-details-info .ant-tabs-bar {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
#app-campaign-details .campaign-details-fundraiser {
  padding: 30px 50px;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-image {
  float: left;
  margin-top: 25px;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-details {
  float: right;
  margin-top: 25px;
  width: calc(100% - 95px);
  text-align: center;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-details .fundraiser-type {
  text-transform: uppercase;
  color: #BFBFBF;
  font-size: 13px;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-details .fundraiser-name {
  font-size: 15px;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-details .fundraiser-job {
  font-size: 11px;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-social {
  text-align: center;
  margin-top: 20px;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-social a {
  text-decoration: none;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-social span {
  font-size: 30px;
  margin-right: 5px;
  cursor: pointer;
  color: #BFBFBF;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-social span:hover {
  color: #485460;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-social a {
  margin: 0 3px;
}
#app-campaign-details .campaign-details-fundraiser .fundraiser-social a img {
  width: 30px;
}
#app-campaign-details .image-gallery-thumbnails-container {
  display: none;
}
#app-campaign-details #app-campaign-progress {
  margin-bottom: 100px;
}
#app-campaign-details #campaign-transactions-tab {
  padding: 20px;
}
#app-campaign-details #campaign-transactions-tab .transactions-campaign-wallet {
  background: rgba(191, 191, 191, 0.25);
  padding: 6px 20px;
}
#app-campaign-details #campaign-transactions-tab .transactions-campaign-wallet > div:nth-of-type(1) {
  float: left;
}
#app-campaign-details #campaign-transactions-tab .transactions-campaign-wallet > div:nth-of-type(2) {
  text-align: center;
}
#app-campaign-details #campaign-transactions-tab .transaction-btn-explorer {
  border: 1px solid #000;
  background: white;
  padding: 5px 10px;
  color: #000;
  float: right;
}
#app-campaign-details #campaign-transactions-tab .transaction-btn-explorer:hover {
  cursor: pointer;
  color: #BFBFBF;
  border-color: #BFBFBF;
}
#app-campaign-details #campaign-transactions-tab #transactions-table {
  margin-top: 25px;
}
#app-campaign-details #campaign-transactions-tab #transactions-table .transactions-table-header > div,
#app-campaign-details #campaign-transactions-tab #transactions-table .transactions-table-row > div {
  width: 25%;
  text-align: center;
  float: left;
  height: 100%;
  padding-top: 3px;
}
#app-campaign-details #campaign-transactions-tab #transactions-table .transactions-table-row {
  height: 30px;
  margin-top: 5px;
}
#app-campaign-details #campaign-transactions-tab #transactions-table .transactions-table-row:nth-of-type(odd) {
  background: rgba(191, 191, 191, 0.1);
}
#app-campaign-details #campaign-transactions-tab #transactions-table .transactions-table-row:nth-child(even) {
  background: rgba(191, 191, 191, 0.2);
}
#app-campaign-details #campaign-transactions-tab #transactions-table .transactions-table-header {
  background: #C4C4C4;
  height: 30px;
}
#app-campaign-details #campaign-transactions-tab #transactions-table .transaction-table-body {
  max-height: 600px;
}
#app-campaign-details #campaign-transactions-tab #transactions-table .transaction-address {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 959px) {
  #app-campaign-details {
    margin-top: 100px;
    padding: 50px 10px;
  }
  #app-campaign-details .details-section .location {
    text-align: center;
  }
  #app-campaign-details .details-section .time-left {
    text-align: center;
  }
  #app-campaign-details .details-section .category {
    text-align: center;
  }
  #app-campaign-details .details-section .help-btn {
    float: initial;
  }
  #app-campaign-details #app-campaign-progress {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */