#app-onboarding .box-section {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 30px 50px;
}
#app-onboarding .box-title {
  text-align: center;
}
#app-onboarding .onboarding-input-container {
  text-align: center;
}
#app-onboarding .onboarding-input-container .onboarding-input {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  max-width: 350px;
  margin: 0 auto;
}
#app-onboarding .onboarding-input-container .onboarding-btn {
  margin-top: 50px;
  width: 200px;
}
#app-onboarding .onboarding-switch {
  margin-top: 20px;
}
#app-onboarding .onboarding-switch a {
  font-weight: bold;
  cursor: pointer;
}
#app-onboarding .onboarding-switch a:hover {
  color: #00b0cd;
}
