
#app-onboarding {
  .box-section {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    background: #fff;
    padding: 30px 50px;
  }

  .box-title {
    text-align: center;
  }

  .onboarding-input-container {
    text-align: center;

    .onboarding-input {
      width: -moz-available;          
      width: -webkit-fill-available;
      width: fill-available;
      max-width: 350px;
      margin: 0 auto;
    }

    .onboarding-btn {
      margin-top: 50px;
      width: 200px;
    }
  }
 
}