@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
#app-content {
  padding: 100px;
}
#app-content section {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
.main-cta-btn {
  background: #03C9A9;
  border: 2px solid #03C9A9;
  box-sizing: border-box;
  border-radius: 60px;
  height: 40px;
  min-width: 125px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.main-cta-btn:hover {
  cursor: pointer;
  background: #fff;
  color: #03C9A9;
}
.secondary-cta-btn {
  border: 2px solid #03C9A9;
  box-sizing: border-box;
  border-radius: 60px;
  height: 40px;
  min-width: 125px;
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #03C9A9;
}
.secondary-cta-btn:hover {
  cursor: pointer;
  background: #03C9A9;
  color: #fff;
}
@media screen and (max-width: 959px) {
  #app-content {
    padding: 0;
  }
}
