@import url('https://fonts.googleapis.com/css?family=Raleway');

@import 'variables.less';
@import 'components/header/style.less';

body {
  margin: 0;
  padding: 0; 
  font-family: 'Raleway', sans-serif;
}

#app-content {
  padding: 0 100px;
}